<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MockupTecnologiasWeb</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style-movil.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-no-after-margin">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link text-color-white" href="#"><i class="fa fa-ticket fa-icon-right-margin-small"></i><strong>Ticket</strong>ter</a>
                <button class="navbar-toggle collapsed navbar-menu-button" data-toggle="collapse" data-target="#navcol-1"><i class="fa fa-align-justify navbar-icon"></i></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="#"><i class="fa fa-plus fa-fw navbar-menu-icon"></i>Obtener ticket</a></li>
                    <li class="active" role="presentation"><a href="#"><i class="fa fa-ticket fa-fw navbar-menu-icon"></i>Mis tickets</a></li>
                    <li role="presentation"><a href="#"><i class="fa fa-user fa-fw navbar-menu-icon"></i>Mi cuenta</a></li>
                    <li role="presentation"><a href="#"><i class="fa fa-sign-out fa-fw navbar-menu-icon"></i>Desconectarse </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <ol class="breadcrumb">
            <li><a><span>Inicio </span></a></li>
            <li><a><span>Buscador </span></a></li>
        </ol>
        <div class="row row-title">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3 class="text-left"> <i class="glyphicon glyphicon-search"></i> Buscador </h3></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="input-group">
                    <input class="form-control" type="search" name="search" placeholder="Ingrese valores a buscar..." id="search-input">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit"> <i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="ticket-heading-number"><i class="fa fa-list-alt fa-fw icon-ticket-list"></i> <strong>Resultados de Búsqueda</strong></h4></div>
            <div class="panel-body">
                <div class="row visible-xs-block visible-sm-block visible-md-block visible-lg-block row-eq-height">
                    <div class="col-md-4 col-sm-6 col-xs-12 column-less-padding">
                        <div class="panel panel-default">
                            <div class="panel-body body-info-ticket">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3"><img class="img-circle" src="assets/img/sucursal-santander.jpg" width="60" height="60"></div>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12"><strong>Santander Talca #346</strong></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12"><span>1 Sur #346 Talca, Región del Maule</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 column-less-padding">
                        <div class="panel panel-default">
                            <div class="panel-body body-info-ticket">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3"><img class="img-circle" src="assets/img/sucursal-santander.jpg" width="60" height="60"></div>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12"><strong>Santander Merced #219</strong></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12"><span>Av Merced #219 Chillán Región del Biobio</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 column-less-padding">
                        <div class="panel panel-default">
                            <div class="panel-body body-info-ticket">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-3"><img class="img-circle" src="assets/img/sucursal-santander.jpg" width="60" height="60"></div>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12"><strong>Santander Express Terminal</strong></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12"><span>Terminal Buses Molina, Región del Maule</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>